@using ServiceContracts.Dto
@using ServiceContracts.Enums

@model PersonResponse

@{
    ViewBag.Title = "Edit Person";
}

<h2>Delete Person</h2>

<form method="post" class="mt-4">

    <div class="mb-3">
        <label for="PersonName" class="form-label">Person Name</label>
        <input asp-for="PersonName" class="form-control" />
        <span asp-validation-for="PersonName" class="span"></span>
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="span"></span>
    </div>

    <button type="submit" class="btn btn-primary" style="background-color:red">Delete</button>

    <div asp-validation-summary="All" class="span"></div>
</form>

<style>
    .span {
        color: red;
    }
</style>
