@using ServiceContracts.Enums;

@if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortedOrderEnum.ASC)
{
    <th>
        <a href="~/Person/Index?SearchBy=@(ViewBag.CurrentSearchBy)&SearchString=@(ViewBag.CurrentSearchString)&SortBy=@(ViewBag.ColumnName)&SortOrder=@(nameof(SortedOrderEnum.DESC))">
            @(ViewBag.DisplayName)
            <i class="fa-solid fa-sort-up"></i>
        </a>
    </th>
}
else if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortedOrderEnum.DESC)
{
    <th>
        <a href="~/Person/Index?SearchBy=@(ViewBag.CurrentSearchBy)&SearchString=@(ViewBag.CurrentSearchString)&SortBy=@(ViewBag.ColumnName)&SortOrder=@(nameof(SortedOrderEnum.ASC))">
            @(ViewBag.DisplayName)
            <i class="fa-solid fa-sort-down"></i>
        </a>
    </th>
}
else
{
    <th>
        <a href="~/Person/Index?SearchBy=@(ViewBag.CurrentSearchBy)&SearchString=@(ViewBag.CurrentSearchString)&SortBy=@(ViewBag.ColumnName)&SortOrder=@(nameof(SortedOrderEnum.ASC))">
            @(ViewBag.DisplayName)
        </a>
    </th>
}

